.profile-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
    width: 100%;
    min-width: 100%
}

.profile-cards-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    width: 100%;
}

.profile-card {
    background-color: #f5eacb;
    border: 1px solid #ddd;
    width: 23%; /* Fixed width for each card */
    max-width: 300px; /* Optional: set a max width */
    min-width: 200px; /* Optional: set a min width */
    border-radius: 2px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media (max-width: 768px) {
    .profile-card {
        width: 45%; /* Adjust width for smaller screens */
    }
}

@media (max-width: 480px) {
    .profile-card {
        width: 90%; /* Adjust width for very small screens */
    }
}

.profile-card:hover {
    transform: scale(1.05);
}

.profile-card h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.profile-card h4 {
    margin: 5px 0 0 0;
    font-size: 16px;
    color: #666;
}

.profile-card p {
    margin: 5px 0 0 0;
    font-size: 14px;
    color: #999;
}

.company-and-position {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.profile-card-img {
    width: 100%;
    height: auto;
    max-height: 200px; /* Set the maximum height */
    object-fit: cover;
    border-radius: 2px; /* Match the card border radius */
}

.fixed-size {
    width: 100%;
    height: auto;
}

.profiles-cards-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10%;
    width: 100%;
    padding: 16px 16px 16px 9px;
}

.icons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 16px;
    gap: 10%;
}


.refresh-button {
    background-color: #ADD8E6;
    border: none;
    color: #004466;
    padding: 10px 20px;
    font-family: Poppins, Helvetica;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.refresh-button:hover {
    background-color: #87CEEB;
    scale: 1.05;
}

.form-control.search-name {
    font-size: 28px;
}

.form-control.search-name::placeholder {
    color: grey;
    opacity: 1;
}

.input-bubble {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
}

.spinner-border.custom-size {
    height: 33px;
    width: 33px;
    font-size: 2.4rem; /* Adjust font size to fit the spinner size */
}

