.home-primary-menu {
  align-items: flex-start;
  background-color: var(--white);
  border-color: var(--line);
  border-right-style: solid;
  border-right-width: 1px;
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  position: relative;
}

.home-primary-menu .frame-8 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.home-primary-menu .frame-9 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  padding: 10px;
  position: relative;
  width: 240px;
}

.home-primary-menu .image-4 {
  height: 40px;
  position: relative;
  width: 40.07px;
}

.home-primary-menu .genie {
  height: 26px;
  position: relative;
  width: 115.27px;
}

.home-primary-menu .primary-navigation-wrapper {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 8px;
  position: relative;
  width: 240px;
}

.home-primary-menu .primary-navigation-instance {
  flex: 0 0 auto !important;
}

.home-primary-menu .frame-10 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  position: relative;
  width: 240px;
}

.home-primary-menu .frame-11 {
  align-items: center;
  align-self: stretch;
  background-color: var(--text-black);
  border-radius: 20px;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 8px 12px 8px 12px;
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-primary-menu .frame-12 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap:12px;
  position: relative;
  cursor: pointer;
}

.home-primary-menu .ellipse-2 {
  height: 30px;
  object-fit: cover;
  position: relative;
  width: 30px;
}

.home-primary-menu .text-wrapper-8 {
  color: var(--white);
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.home-primary-menu .fluent-ios-arrow {
  height: 18px !important;
  position: relative !important;
  width: 18px !important;
}

.home-primary-menu .fluent-ios-arrow .open{
  transform: rotate(180deg);
}

.toggle-menu-and-user-bubble{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.dropdown-button-line{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}

.dropdown-icon{
    height: 20px;
    align-self: center;

}

.custom-dropdown-menu {
  background-color: var(--text-black);
  border-radius: 10px;
  width: 100%; /* Adjust this if you need different width */
  padding: 10px;
  min-width: 200px;
  z-index: 1000; /* ensure it appears above other elements */
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 15px;
  letter-spacing: 0;
  width: fit-content;
  padding: 8px 12px 0 26px;
  font-family: Poppins, Helvetica;
  font-size: 14px;
  font-weight: 500;
  color: var(--white);
}

.transparent-bubble-button{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    color: white;
     padding: 10px;
    cursor: pointer; /* Change cursor to pointer to indicate clickability */
}
.transparent-bubble-button:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Light grey background on hover */
    color: #000; /* Change text color on hover */
    border-radius: 5px; /* Slight rounding of corners on hover */
    padding: 10px;
}

