.top-navigation {
  align-items: center;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--line);
  display: flex;
  justify-content: space-between;
  padding: 12px 30px;
  position: relative;
  width: 1200px;
}

.top-navigation .secondary-nav-1 {
  flex: 0 0 auto !important;
}

.top-navigation .secondary-nav-2 {
  align-items: flex-start;
  background-color: #0073ea0d;
  border-radius: 83px;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 4px;
  position: relative;
}

.top-navigation .overview-wrapper {
  align-items: center;
  background-color: #ffffff;
  border-radius: 76px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  height: 34px;
  padding: 6px 18px;
  position: relative;
}

.top-navigation .overview {
  color: var(--primary-blue);
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 19.6px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.top-navigation .frame-18 {
  align-items: center;
  border-radius: 76px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  height: 34px;
  padding: 6px 18px;
  position: relative;
}

.top-navigation .step-by-step {
  color: var(--text-gray);
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -0.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.top-navigation .hugeicons-notification-02-4 {
  height: 18px !important;
  position: relative !important;
  width: 18px !important;
}

.top-navigation .make-a-wish-from-the {
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -0.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.top-navigation .span {
  color: #9f9f9f;
}

.top-navigation .text-wrapper-12 {
  color: #00c875;
}

.top-navigation .frame-19 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.top-navigation .group {
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--line);
  border-radius: 45px;
  height: 42px;
  position: relative;
  width: 184px;
}

.top-navigation .frame-20 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  left: 12px;
  position: absolute;
  top: 5px;
}

.top-navigation .text-wrapper-13 {
  color: var(--text-black);
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16.8px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.top-navigation .overlap-group-wrapper {
  height: 9px;
  position: relative;
  width: 122px;
}

.top-navigation .overlap-group {
  border-radius: 41px;
  height: 9px;
  position: relative;
}

.top-navigation .rectangle-2 {
  background-color: var(--primary-blue);
  border-radius: 41px;
  height: 9px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 122px;
}

.top-navigation .rectangle-3 {
  background-color: var(--primary-blue);
  border-radius: 41px;
  height: 9px;
  left: 0;
  position: absolute;
  top: 0;
}

.top-navigation .element-wrapper {
  align-items: center;
  background-color: var(--text-black);
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 34px;
  justify-content: center;
  left: 145px;
  overflow: hidden;
  padding: 8px 4px;
  position: absolute;
  top: 3px;
  width: 34px;
}

.top-navigation .element {
  color: var(--white);
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16.8px;
  margin-top: -0.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.top-navigation .frame-21 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.top-navigation .ellipse-3 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--line);
  border-radius: 21px;
  height: 42px;
  position: relative;
  width: 42px;
}

.top-navigation .group-2 {
  background-image: url(https://c.animaapp.com/zzQb4IEW/img/hugeicons-notification-02-4.svg);
  background-size: 100% 100%;
  height: 20px;
  left: 11px;
  position: absolute;
  top: 11px;
  width: 20px;
}

.top-navigation .variant-4 {
  color: var(--text-gray);
}

.top-navigation .nav-1 {
  color: var(--text-gray);
}

.top-navigation .variant-5 {
  color: var(--text-gray);
}

.top-navigation .nav-2 {
  color: transparent;
}

.top-navigation .nav-3 {
  color: var(--text-gray);
}

.top-navigation .property-1-variant-4 {
  width: 41px;
}

.top-navigation .property-1-nav-1 {
  width: 11px;
}

.top-navigation .property-1-variant-5 {
  width: 74px;
}

.top-navigation .property-1-nav-2 {
  width: 11px;
}

.top-navigation .property-1-nav-3 {
  width: 11px;
}
