.rectangle {
  background-image: url(../../../static/img/rectangle-26.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 35px;
  left: -13px;
  position: relative;
  top: -23px;
  width: 35px;
}
