.profile-and-challenge{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding-left: 20px;
}

.frame-41 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--line);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 365px;
  overflow: hidden;
  padding: 16px;
  width: 364px;
}

.frame-22 {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--line);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
    padding: 16px;
}

.get-to-know {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding-left: 20px;
}

.frame-28 {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--line);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  padding: 16px;
  position: relative;
  width: 752px;
}