/* Ensure full height for the main container */
.app-container {
    display: flex;
    flex-direction: row;
    min-height: 120vh; /* Full viewport height */
    height: auto;
}

.main-and-footer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Sidebar menu with fixed positioning */
.home-primary-menu-instance {
    width: 270px; /* Adjust as necessary */
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

/* Main content area taking the remaining space */
.main-content {
    flex: 1;
    overflow-y: auto; /* Allow scrolling if content overflows */
    margin-bottom: 50px; /* Adjust to match the footer height */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

/* Footer that stays at the bottom */
.footer-frame-118 {
    margin-right: 23%;
    height: 100px; /* Adjust to match the footer height */
    position: relative;
    bottom: 0; /* Stick to the bottom */
    background-color: #f1f1f1; /* Example background color */
    width: calc(77% - 270px); /* Adjust for the sidebar width */
}

.loading-spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.user-profile-picture {
  max-height: 40px;
  object-fit: cover; /* ensures the image covers the entire div without stretching */
  display: block; /* removes default inline behavior */
  border-radius: 50%;
}

.dropdown-menu {
  background-color: var(--text-black);
  border-radius: 10px;
  width: 100%; /* Adjust this if you need different width */
  padding: 10px;
  min-width: 200px;
  z-index: 1000; /* ensure it appears above other elements */
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 15px;
  letter-spacing: 0;
  width: fit-content;
  padding: 8px 12px 0 26px;
  font-family: Poppins, Helvetica;
  font-size: 14px;
  font-weight: 500;
  color: var(--white);

}

.username-name{
   font-size: 22px;
   font-family: cursive;
}

.transparent-bubble-button{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    color: white;
     padding: 10px;
    cursor: pointer; /* Change cursor to pointer to indicate clickability */
}
.transparent-bubble-button:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Light grey background on hover */
    color: #000; /* Change text color on hover */
    border-radius: 5px; /* Slight rounding of corners on hover */
    padding: 10px;
}