.home-profile-in {
  left: 0;
  padding-top: 200px
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 1400px;
}

.home-profile-in .div-4 {
  background-color: var(--bg-gray);
  height: 1590px;
  position: relative;
  width: 1440px;
}

.home-profile-in .frame-23 {
  align-items: flex-start;
  border-color: var(--line);
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  position: relative;
}

.home-profile-in .frame-230 {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--line);
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  position: relative;
  padding: 16px;
  border-radius: 16px;
  width: 113%;
  min-width: 300px; /* Set a minimum width for the cards */
}

.home-profile-in .frame-22 {
    gap: 16px;
    height: 32%-35.4%;
    width: 100%;
}

.home-profile-in .frame-25 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}

.home-profile-in .text-wrapper-14 {
    color: var(--text-black, #37455C);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 27px */
}

.home-profile-in .frame-24 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding: 0;
}

.home-profile-in .frame-240 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    padding: 0;
}

.home-profile-in .frame-26 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  flex-direction: column;
}

.home-profile-in .frame-260 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  flex-direction: row;
}

.home-profile-in .rectangle-4 {
  height: 22px;
  object-fit: cover;
  position: relative;
  width: 22px;
}

.home-profile-in .frame-wrapper frame-instance{
    display: flex;
    padding: 16px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);

    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    border: 1px solid var(--line, #DDD);
    background: #FFF;
}

.home-profile-in .rectangle-5 {
  height: 22px;
  object-fit: cover;
  position: relative;
  width: 23px;
}

.home-profile-in .given-joe-s {
  align-self: stretch;
  color: var(--text-gray);
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.home-profile-in .frame-28 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px solid;
  border-color: var(--line);
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  position: relative;
  width: 100%;
}

.home-profile-in .text-wrapper-15 {
    color: var(--text-gray, #9F9F9F);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 18px */
}

.home-profile-in .text-wrapper-150 {
    color: var(--text-black, #9F9F9F);
    font-family: "Poppins-Medium", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.home-profile-in .frame-29 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
  width: 100%;
}

.home-profile-in .icon-instance-node-2 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.home-profile-in .text-wrapper-16 {
    color: var(--text-grey, #37455C);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 21px */
    width: 95%;
    text-wrap: wrap;
}

.home-profile-in .frame-30 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px solid;
  border-color: var(--line);
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  position: relative;
  width: 100%;
}

.home-profile-in .frame-31 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
  width: 100%;
}

.home-profile-in .oui-cross-in-circle {
  height: 16px;
  position: relative;
  width: 16px;
}

.home-profile-in .frame-33 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 100%;
}

.home-profile-in .frame-34 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.home-profile-in .text-wrapper-17 {
    color: var(--text-black, #37455C);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 21px */
}

.home-profile-in .ellipse-4 {
  height: 27px;
  object-fit: cover;
  position: relative;
  width: 27px;
}

.home-profile-in .ellipse-5 {
  height: 27px;
  position: relative;
  width: 27px;
}

.home-profile-in .line {
  align-self: stretch;
  height: 1px;
  margin-left: -0.5px;
  margin-right: -0.5px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.home-profile-in .frame-35 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
  position: relative;
}

.home-profile-in .text-wrapper-18 {
  color: var(--text-black);
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 20px;
  top: 5px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home-profile-in .text-wrapper-19 {
  color: var(--text-black);
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 21px;
  margin-right: -45.33px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home-profile-in .line-2 {
  flex: 1;
  flex-grow: 1;
  height: 23px;
  object-fit: cover;
  position: relative;
}

.home-profile-in .text-wrapper-20 {
  color: var(--text-black);
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 21px;
  margin-left: -42.33px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home-profile-in .frame-37 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.home-profile-in .frame-38 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.home-profile-in .image-4 {
  height: 40px;
  position: relative;
  width: 41.82px;
}

.home-profile-in .image-5 {
  height: 40px;
  object-fit: cover;
  position: relative;
  width: 41.12px;
}

.home-profile-in .image-6 {
  height: 40px;
  object-fit: cover;
  position: relative;
  width: 57.07px;
}

.home-profile-in .image-7 {
  height: 40px;
  position: relative;
  width: 57.07px;
}

.home-profile-in .image-8 {
  height: 40px;
  position: relative;
  width: 41.12px;
}

.home-profile-in .frame-39 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--line);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 12px 16px;
  position: relative;
}

.home-profile-in .frame-40 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.home-profile-in .text-wrapper-21 {
  color: var(--text-black);
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 21px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home-profile-in .group-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4.17px;
  justify-content: center;
  position: relative;
}

.home-profile-in .group-4 {
  height: 50px;
  margin-right: -2px;
  position: relative;
  width: 52.21px;
}

.home-profile-in .overlap-group-2 {
  background-image: url(../../../static/img/ellipse-4-1.svg);
  background-size: 100% 100%;
  height: 50px;
  position: relative;
  width: 50px;
}

.home-profile-in .frame-41 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--line);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  left: 658px;
  overflow: hidden;
  padding: 12px 16px;
  position: absolute;
  top: 96px;
  width: 364px;
}

.home-profile-in .ellipse-7 {
  height: 50px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 44px;
}

.home-profile-in .frame-42 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #dddddd;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  padding: 16px;
  position: relative;
}

.home-profile-in .group-5 {
  height: 288px;
  margin-left: -6.52px;
  margin-right: -16.52px;
  position: relative;
  width: 355.03px;
}

.home-profile-in .overlap-group-3 {
  height: 310px;
  position: relative;
  top: -23px;
  width: 345px;
}

.home-profile-in .text-wrapper-23 {
    bottom: 10px
}

.home-profile-in .rectangle-26 {
  left: 144px !important;
  position: absolute !important;
  top: 0 !important;
}

.home-profile-in .design-component-instance-node {
  left: 291px !important;
  position: absolute !important;
  top: 73px !important;
}

.home-profile-in .frame-27 {
    gap: 8px;
}

.home-profile-in .rectangle-6 {
  left: 280px !important;
  position: absolute !important;
  top: 253px !important;
}

.home-profile-in .text-wrapper-24 {
  color: var(--text-black);
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 267px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 110px;
  white-space: nowrap;
}

.home-profile-in .text-wrapper-25 {
  color: var(--text-black);
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 277px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 289px;
  white-space: nowrap;
}

.home-profile-in .text-wrapper-26 {
  color: var(--text-black);
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 108px;
  white-space: nowrap;
}

.home-profile-in .text-wrapper-27 {
  color: var(--text-black);
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 11px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 289px;
  white-space: nowrap;
}

.home-profile-in .pentagon {
  height: 243px;
  left: 39px;
  position: absolute;
  top: 56px;
  width: 256px;
}

.home-profile-in .mask-group {
  height: 242px;
  left: 66px;
  position: absolute;
  top: 56px;
  width: 180px;
}

.home-profile-in .vector {
  height: 246px;
  left: 65px;
  position: absolute;
  top: 55px;
  width: 182px;
}

.home-profile-in .home-primary-menu-instance {
  height: 1584px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.home-profile-in .frame-118 {
  left: 270px !important;
  position: absolute !important;
  top: 1470px !important;
}

.home-profile-in .frame-22-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;

  position: relative;
}

.home-profile-in .frame-instance {
  flex: 0 0 auto !important;
}

.home-profile-in .frame-43 {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--line);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  padding: 16px;
  position: relative;
  width: 100%;
}

.home-profile-in .overlap-wrapper {
  height: 656px;
  margin-bottom: -1px;
  position: relative;
  width: 332px;
}

.home-profile-in .overlap {
  height: 656px;
  position: relative;
}

.home-profile-in .line-3 {
  height: 644px;
  left: 6px;
  position: absolute;
  top: 3px;
  width: 2px;
}

.home-profile-in .line-4 {
  height: 450px;
  left: 6px;
  position: absolute;
  top: 197px;
  width: 2px;
}

.home-profile-in .line-5 {
  height: 109px;
  left: 6px;
  position: absolute;
  top: 3px;
  width: 2px;
}

.home-profile-in .frame-44 {
  align-items: center;
  display: inline-flex;
  gap: 18px;
  left: 0;
  position: absolute;
  top: 0;
}

.home-profile-in .group-6 {
  height: 14px;
  position: relative;
  width: 23px;
}

.home-profile-in .overlap-group-4 {
  height: 14px;
  position: relative;
  width: 24px;
}

.home-profile-in .ellipse-8 {
  background-color: var(--success-green);
  border-radius: 7px;
  height: 14px;
  left: 0;
  position: absolute;
  top: 0;
  width: 14px;
}

.home-profile-in .line-6 {
  height: 2px;
  left: 13px;
  position: absolute;
  top: 6px;
  width: 11px;
}

.home-profile-in .text-wrapper-28 {
  color: var(--text-gray);
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  width: 100%;
  text-wrap: wrap;
  top: 0;
}

.home-profile-in .frame-45 {
  align-items: center;
  display: inline-flex;
  gap: 18px;
  left: 0;
  position: absolute;
  top: 38px;
}

.home-profile-in .frame-46 {
  align-items: center;
  display: inline-flex;
  gap: 18px;
  left: 0;
  position: absolute;
  top: 94px;
}

.home-profile-in .frame-47 {
  align-items: center;
  display: inline-flex;
  gap: 18px;
  left: 0;
  position: absolute;
  top: 150px;
}

.home-profile-in .ellipse-9 {
  background-color: var(--primary-blue);
  border-radius: 7px;
  height: 14px;
  left: 0;
  position: absolute;
  top: 0;
  width: 14px;
}

.home-profile-in .text-wrapper-29 {
  color: var(--text-black);
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  width: 291px;
  top: 0;
  left: 0;
  text-align: left;
}

.home-profile-in .frame-48 {
  align-items: center;
  display: inline-flex;
  gap: 18px;
  left: 0;
  position: absolute;
  top: 188px;
}

.home-profile-in .ellipse-10 {
  background-color: var(--pending-yeallow);
  border-radius: 7px;
  height: 14px;
  left: 0;
  position: absolute;
  top: 0;
  width: 14px;
}

.home-profile-in .frame-49 {
  align-items: center;
  display: inline-flex;
  gap: 18px;
  left: 0;
  position: absolute;
  top: 226px;
}

.home-profile-in .frame-50 {
  align-items: center;
  display: inline-flex;
  gap: 18px;
  left: 0;
  position: absolute;
  top: 264px;
}

.home-profile-in .frame-51 {
  align-items: center;
  display: inline-flex;
  gap: 18px;
  left: 0;
  position: absolute;
  top: 302px;
}

.home-profile-in .frame-52 {
  align-items: center;
  display: inline-flex;
  gap: 18px;
  left: 0;
  position: absolute;
  top: 340px;
}

.home-profile-in .frame-53 {
  align-items: center;
  display: inline-flex;
  gap: 18px;
  left: 0;
  position: absolute;
  top: 414px;
}

.home-profile-in .frame-54 {
  align-items: center;
  display: inline-flex;
  gap: 18px;
  left: 0;
  position: absolute;
  top: 470px;
}

.home-profile-in .frame-55 {
  align-items: center;
  display: inline-flex;
  gap: 18px;
  left: 0;
  position: absolute;
  top: 526px;
}

.home-profile-in .text-wrapper-30 {
  color: var(--text-gray);
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  width: 100%;
  text-wrap: wrap;
}

.home-profile-in .frame-56 {
  align-items: center;
  display: inline-flex;
  gap: 18px;
  left: 0;
  position: absolute;
  top: 564px;
}

.home-profile-in .frame-57 {
  align-items: center;
  display: inline-flex;
  gap: 18px;
  left: 0;
  position: absolute;
  top: 638px;
}

.home-profile-in .frame {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--line);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 478px;
  overflow: hidden;
  padding: 16px;
  position: relative;
  width: 364px;
}

.home-profile-in .frame .group {
  background-color: var(--pending-yeallow);
  background-size: 100% 100%;
  border-radius: 8px;
  height: 220px;
  position: relative;
  width: 332px;
}

.home-profile-in .frame .div {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 100%;
}

.home-profile-in .frame .div-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.home-profile-in .frame .text-wrapper {
  color: var(--text-black);
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 27px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home-profile-in .frame .div-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.home-profile-in .frame .ellipse {
  height: 27px;
  object-fit: cover;
  position: relative;
  width: 27px;
}

.home-profile-in .frame .img {
  height: 27px;
  position: relative;
  width: 27px;
}

.home-profile-in .frame .line {
  align-self: stretch;
  height: 1px;
  margin-left: -0.5px;
  margin-right: -0.5px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.home-profile-in .frame .div-4 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
  position: relative;
}

.home-profile-in .frame .text-wrapper-2 {
  color: var(--text-gray);
  font-family: "Poppins-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home-profile-in .frame .text-wrapper-3 {
  color: var(--text-black);
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 21px;
  margin-right: -45.33px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home-profile-in .frame .line-2 {
  flex: 1;
  flex-grow: 1;
  height: 23px;
  object-fit: cover;
  position: relative;
}

.home-profile-in .frame .div-5 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;
  justify-content: center;
  position: relative;
}

.home-profile-in .frame .text-wrapper-4 {
  color: var(--text-black);
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 21px;
  margin-left: -42.33px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home-profile-in .frame .frame-wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.home-profile-in .frame .div-6 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.home-profile-in .frame .image {
  height: 40px;
  position: relative;
  width: 41.82px;
}

.home-profile-in .frame .image-2 {
  height: 40px;
  object-fit: cover;
  position: relative;
  width: 41.12px;
}

.home-profile-in .frame .image-3 {
  height: 40px;
  object-fit: cover;
  position: relative;
  width: 57.07px;
}

.home-profile-in .frame .image-4 {
  height: 40px;
  position: relative;
  width: 57.07px;
}

.home-profile-in .frame .image-5 {
  height: 40px;
  position: relative;
  width: 41.12px;
}

.home-profile-in .columns {
    display: flex;
    flex-direction: row;
    width: calc(100% - 270px);
    gap: 20px;
    padding: 20px;
    justify-content: space-around;
}

.home-profile-in .right-column {
    width: 64%;
    flex-direction: column;
    display: flex;
    gap: 20px;
    height: 100%;
    padding-top: 7%;
}

.home-profile-in .left-column {
    width: 30%;
    padding-top: 7%;
}

.home-profile-in .spiderweb-and-good-to-know {
    background-color: #ffffff;
    border: 1px solid;
    border-color: var(--line);
    border-radius: 16px;
    height: 32%-35%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    overflow: hidden;
    padding: 16px;
    position: relative;
}

.home-profile-in .small-column {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
}

.home-profile-in .line .vertical {
    height: 23px
    width: 1px;
}
